{% extends 'base.html' %}

{% block titulo %}REGISTRO{% endblock %}

{% block content %}
<div class="col-12 col-lg-6 offset-lg-3" div-registro>
<h1>login</h1>
<p class="text-danger">{{error}}</p>
<p class="text-success">{{mensaje}}</p>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
       <form>
         <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="text" class="form-control" id="username" name='username' required>        
            <label for="password" class="form-label">Clave</label>
            <input type="password" class="form-control" id="password" name='password' required>
        </div>
        <button type="submit" class="btn btn-primary">DENTRAR</button>
      </form>
</form>
<p>¿No tienes cuenta? <a href="{% url 'registro' %}">Registrate</a></p>
</div>

{% endblock %}


